<!DOCTYPE html>
<html>
    <head>
        <title>Blog API Service</title>
        <style>
            body {
                font-family: "Trebuchet MS", Verdana, sans-serif;
                margin: 5em;
            }
        </style>
    </head>
    <body>
        <h1>Blog API Service</h1>

        <p>See API <a href="/ui">documentation</a> for usage. This service currently serves {{ count }} posts.</p>
    </body>
</html>
